/* GENERAL */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    font-family: sans-serif;
    padding-top: 50px;
}

/* UTILITIES */

/* color */

.bg_blue {
    background: #2C3E50;
}

.bg_foot_blue {
    background: #3A546D;
}

.bg_green {
    background: #1ABC9C;
}

.white_color {
    color: #fff;
}

/* layout */
.up_text {
    text-transform: uppercase;
}

.center_text {
    text-align: center;
}

.right_text {
    text-align: right;
}

.mg_t_b {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pd_t_b {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pd_t {
    padding-top: 1rem;
}

.pd_b {
    padding-bottom: 1rem;
}

.brd-rad-10 {
    border-radius: 10px;
}

.btn {
    color: #fff;
    border: 1px solid #fff;
    transition: background .3s;
}

.btn_green {
    background: #1ABC9C;
    border: #1ABC9C;
}

.btn-hov:not(.btn_green):hover {
    background: #eee;
}

.btn-hov:hover {
    background: rgba(26,188,156, .50);
}

.sp-short {
    display: inline-block;
    width: 80px;
    border: 2px solid;
}

.white-star i {
    vertical-align: middle;
}

/* MY STYLES */

/* NAVBAR */
.navbar {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}

.navbar-default .ta-brand,
.navbar-default .ta-header-nav > li > a {
    color: #fff;
    transition: background .3s;
}

.navbar-default .ta-brand:hover,
.navbar-default .ta-header-nav > li > a:hover {
    background: rgba(0,0,0, .25);
    color: #1ABC9C;
}

.hero-img {
    height: 250px;
}

/* PORTFOLIO */
.portfolio .pf-img .icon-div {
    position: relative;
    background: #1ABC9C;
    border-radius: 6px;
}

.portfolio .pf-img img {
    transition: opacity .3s;
}

.portfolio .pf-img img:hover {
    opacity: .20;
}

.portfolio .icon-div .plus-icon {
    display: none;
    position: absolute;
    font-size: 60px;
}

.portfolio .icon-div:hover .plus-icon {
    display: block;
    animation: move-up 0.15s linear forwards;
}

/* animation for plus icon */

@keyframes move-up {
    from {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0)
    }

    to {
        bottom: 30%;
        left: 50%;
        transform: translate(-50%, -30%)
    }
}

/*CONTACT FORM */
.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form textarea {
    height: 10px;
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
}

.registration-form textarea.form-control {
    height: 100px;
}

.registration-form input[type="text"]:focus,
.registration-form input[type="email"]:focus,
.registration-form textarea:focus {
    border-bottom: 1px solid #000;
}

/* FOOTER */
.main_foot ul li {
    width: 30px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.main_foot ul li a {
    color: #fff;
}

.main_foot p > a {
    color: #1ABC9C;
}